<!DOCTYPE html>
<html lang="pt-br, en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simple public chat">
    <meta name="author" content="Marlos Irapuan">

    <title>Chate!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="bg-light">    
    <main role="main" class="container">      
      <%= render ChateWeb.SharedView, "navbar.html", assigns %>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer class="pt-5 text-muted text-center text-small">
      <div class="container">
        <span class="text-muted">Chate! 0.1 made by Marlos Irapuan</span>
        <br>
        <%= DateTime.utc_now.year %> &copy; All rights reserved
      </div>
    </footer>

    <script>
      window.userToken = "<%= assigns[:user_token] %>";
    </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
